.App {
  text-align: center;
}

.App form {
  width: 20em;
  margin: 0 auto;
  background-color: #eee;
  padding: 1em;
}

.App form > div {
  padding: 0.5em;
}

.App form label{
  display: block;
  padding: 0.25em;
}

.App form input, .App form select {
  width: 10em;
}

.App form button[type="submit"] {
  margin-top: 1em;
  font-size: 120%;
}

.contacts i {
  display: block;
  font-size: 80%;
  padding: 0.25em;
}

.contacts > div label {
  display: none;
}

.contacts > div {
  display: flex;
  justify-content: space-between;
  width: 15em;
  margin: 0 auto;
  padding: 0.25em;
}
